{% extends 'base.html' %}

{% block title %}
	Nuestras Fotos
{% endblock %}

{% block content %}
	<center><h1>Mis Fotos </h1></center>
	<h3>{{ msg }}</h3>
	<img src="/media/images/murdoc.jpg" style="position:absolute;top:200px;center:820px;left:800px;" width="450" height="350" border="2"/>
	<img src="/media/images/ojos.jpg" style="position:absolute;top:600px;center:820px;left:800px;" width="450" height="350" border="2"/>
	<img src="/media/images/cuatro.jpg" style="position:absolute;top:600px;center:820px;left:100px;" width="450" height="350" border="2"/>
	<img src="/media/images/lindos.jpg" style="position:absolute;top:200px;center:820px;left:100px;" width="450" height="350" border="2"/>
	
{% endblock %}